<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  
  <form action="/user/get_username" method="POST">
    <input id="username" type="text" name="username" placeholder="twitter username">
    <input id="submit_button" type="submit" value="submit">
  </form>

  <img id="loading" src="http://www.travelweekly.com/_css/images/loading.jpg">

  </div>
