<div class="container">
  <h1>Welcome to Twitter-land!</h1>
  <p>Please enter your tweet!</p>

  
  <form id = "tweet-form" action="/twitter" method="POST">
    <textarea id ="tweetspace" placeholder="tweet a tweet" name="tweet"> </textarea>
    <!-- <input id="username" type="textarea" name="username" placeholder="tweet"> -->
    <input id="submit_button" type="submit" value="submit">
  </form>

  <img id="loading" src="http://media3.giphy.com/media/fJ1eCBjmMoEvu/original.gif">

  </div>
